= form_for @prototype, html: {class: 'container proto-new'} do |prototype_form|
  .col-md-8.col-md-offset-2
    %header.row.user-nav.row
      .col-md-12
        = prototype_form.text_field :title, class:"proto-new-title", placeholder:"Title"
    = prototype_form.fields_for :image do |image_fields|
      .row
        .col-md-12
          .cover-image-upload
            = image_fields.file_field :image
            = image_fields.hidden_field :image_cache
            -# %input{type: "file"}/
        .col-md-12
          %ul.proto-sub-list.list-group
            %li.list-group-item.col-md-4
              .image-upload
                = image_fields.file_field :image
            %li.list-group-item.col-md-4
              .image-upload
                = image_fields.file_field :image
            %li.list-group-item.col-md-4
              .image-upload-plus
                %span +
    .row.proto-description
      .col-md-12
        = prototype_form.text_field :catch, placeholder:"Catch Copy"
      .col-md-12
        = prototype_form.text_area :concept, placeholder:"Concept"
      .col-md-12
        %h4 Tag List
        .row
          .col-md-3
            %input{type: "text", placeholder: "Web Design"}/
          .col-md-3
            %input{type: "text", placeholder: "UI"}/
          .col-md-3
            %input{type: "text", placeholder: "Application"}/
    .row.text-center.proto-btn
      %button.btn.btn-lg.btn-primary.btn-block{type: "submit"} Publish
